<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2019-09-04T13:36:32Z</date>
	<key>WorkspacePath</key>
	<string>/Users/emmazhu/work/sideProject/MordernArtCatalog/ReactNative/ios/mobileArtCatalog.xcworkspace</string>
</dict>
</plist>
