body {
  font-family: sans-serif;
  margin: 30 auto;
  background-color: grey;
  text-align: center;
}

nav {
  align-items: center;
  background-color: rgb(78, 74, 74);
  display: flex;
  height: 80px;
  padding: 10px;
  margin: 0;
}

nav a {
  margin: 10px;
}

a {
  color: #e8e9f3;
}

h3,
h4,
p,
.upload {
  margin: 10px;
}

.artwork {
  display: flex;
  flex-direction: column;
}

.artworkInfo {
  display: flex;
  margin: 5px;
}

.artworkInfo .imgContainer {
  flex: 3;
  margin-left: 30px;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #e2e2e8;
}

.imgContainer img {
  /* width: 100%; */
  height: 100%;
}

.fatrash {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(30, 37, 34, 0.865);
  height: 25px;
  width: 25px;
  border-radius: 20%;
  padding: 3px;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.faright {
  position: absolute;
  right: 0;
  background-color: rgba(243, 245, 220, 0.865);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 3px;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.faleft {
  position: absolute;
  left: 0;
  background-color: rgba(243, 245, 220, 0.865);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 3px;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.artworkInfo .imgContainer:hover .fatrash,
.artworkInfo .imgContainer:hover .faleft,
.artworkInfo .imgContainer:hover .faright {
  opacity: 1;
}

.artwork-detail {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.subimages {
  /* padding: 20px; */
  margin-left: 30px;
  display: flex;
}

.subimages div {
  margin: 5px;
}

.subimages .images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.singleimage {
  height: 100px;
  width: 100px;
  transition: 0.3s ease;
}

.singleimage:hover {
  height: 110px;
  width: 110px;
}

.upload form {
  display: flex;
  flex-direction: column;
}

.upload input {
  height: 25px;
}
.upload button {
  height: 25px;
  width: 60px;
  border-radius: 5px;
}

#deleteartwork {
  margin: 10px;
  height: 25px;
  border-radius: 5px;
  background-color: lightskyblue;
}

.updateform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.updateform input {
  height: 40px;
  width: 450px;
  font-size: medium;
  margin: 5px 0px;
}

.addartworkform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addartworkform input {
  margin: 10px;
}
